@media (max-width:992px) {
    a.btnSolicite{
        padding: 8px 10px;
    }
    
    body{padding-top: 90px}
    h1{
        font-size: 40px;
    }

    button#iconMenu{
        color: #f38f00;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        background: none;
        border: none;
    }
    button:hover#iconMenu{
        color: white;
        border: none;
        background: #f38f00;
    }
    
    button:active#iconMenu{
        color: white;
        border: none;
        background: #f38f00;
    }
    
    #logo{
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #logo img{
        max-height: 70px;
        display: initial;
    }
    
    #menuMovel{
        background: #333;
    }
    
    .navmenu-default .navmenu-nav > li > a, .navbar-default .navbar-offcanvas .navmenu-nav > li > a{
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
    }
    
    .navmenu-default .navmenu-nav > li > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover{
        color: white;
        background: #f38f00;
        font-size: 18px;
    }
    
    .navmenu-default .navmenu-nav > li > a:active, .navbar-default .navbar-offcanvas .navmenu-nav > li > a:active{
        color: white;
        background: #f38f00;
        font-size: 18px;
    }
}